---
layout: page
title: Tags
desc: All tags and associated posts
permalink: /tags/
icon: "tag"
navigation_weight: 3
---

{% capture counts_with_tags_string %}{% for tag in site.tags %}{{ tag[1] | size | prepend:"000000" | slice:-6,6 }}:{{ tag[0] }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign counts_with_tags = counts_with_tags_string | split:"," | sort | reverse %}

<div class="tags-container">
  {% for count_with_tag in counts_with_tags %}
  <div class="tag-item">
    {% assign tag = count_with_tag | split:":" | last %}
    {% assign count = site.tags[tag] | size %}
    <h3 class="tag-heading" id="{{ tag | slugify }}">{{ tag | capitalize }} ({{ count }})</h3>
    {% for post in site.tags[tag] %}
      <div class="tag-associated">
        <p class="post-title">
          <span>-</span>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </p>
        <p class="post-date">{{ post.date | date: "%-d %B, %Y" }}</p>
      </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>