---
layout: page
title: Tags
desc: All tags and associated posts
permalink: /tags/
icon: "tag"
navigation_weight: 3
---

<!-- Get the tag name for every tag on the site and set them to the `site_tags` variable. -->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}

<!-- `tag_words` is a sorted array of the tag names. -->
{% assign tag_words = site_tags | split:',' | sort %}

<div class="tags-container">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] }}{% endcapture %}
    <div class="tag-item">
      <h3 class="tag-heading" id="{{ this_word | cgi_escape }}">
        <img src="{{ site.baseurl }}/assets/icons/tag.png">
        {{ this_word | capitalize }}
      </h3>
      {% for post in site.tags[this_word] %}{% if post.title != null %}
      <div class="tag-associated">
        <p class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></p>
        <p class="post-date">{{ post.date | date: "%-d %B, %Y" }}</p>
      </div>
      {% endif %}{% endfor %}
      </div>
    {% endunless %}{% endfor %}
</div>