---
layout: page
title: Writing
permalink: /writing/
icon: "script.svg"
navigation_weight: 4
---

<div>
    {% for post in site.categories.writing %}
    <article class="homepage-posts" itemscope itemtype="http://schema.org/BlogPosting" role="article">

      <div class="post-preview-assets">
        <img class="post-thumbnail" src="{{ site.baseurl }}/assets/images/{{ post.thumbnail }}">
      </div>

      <div class="post-preview-content">
        <header>
          <h2 itemprop="name">
            <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a>
          </h2>
        </header>

        <div class="post-meta">
          <time datetime="{{ post.date | date_to_long_string }}">
            <i class="fas fa-clock"></i>{{ post.date | date_to_long_string }}
          </time>
          <span>•</span>
          <span><i class="fas fa-user"></i>{{ post.author }}</span>
          <span>•</span>
          <span class="reading-time">
            <i class="fas fa-hourglass-half"></i>
            {% capture words %}
            {{ post.content | number_of_words | minus: 180 }}
            {% endcapture %}
            {% unless words contains '-' %}
            {{ words | plus: 150 | divided_by: 150 | append: ' min. read' }}
            {% endunless %}
          </span>
          <div class="post-tags">
            <ul>
              {% for tag in post.tags %}
              <li class="post-tag"><i class="fas fa-tag"></i>{{ tag | capitalize }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="post-preview">
          <p class="post-extract">{{ post.extrait }}</p>
        </div>


      </div>

    </article>

    <hr class="post-separator">

    {% endfor %}
  </div>