<nav id="side-nav">
  <ul class="nav-items-list">
    <li id="nav-item">
      <a href="{{ site.baseurl }}/">
        <span class="nav-item-descriptor">Home</span>
        <img class="nav-icon" src="{{ site.baseurl }}/assets/icons/svg/home.svg">
      </a>
    </li>
    {% assign pages = site.pages | sort:"navigation_weight" %}
    {% for page in pages %}
      {% if page.navigation_weight %}
      <li id="nav-item">
          <a href="{{ site.baseurl }}/{{ page.title | downcase }}/">
            <span class="nav-item-descriptor">{{ page.title }}</span>
            <!-- <i class="{{ site.baseurl }}/assets/icons/{{ page.icon }}"></i> -->
            <img class="nav-icon" src="{{ site.baseurl }}/assets/icons/svg/{{ page.icon }}">
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <ul class="nav-items-list menu-trigger">
    <li id="nav-item">
      <a id="menu-trigger">
        <img class="nav-icon" src="{{ site.baseurl }}/assets/icons/svg/chevron-right.svg">
        <img class="nav-icon is-responsive-closed" src="{{ site.baseurl }}/assets/icons/svg/menu.svg">
        <img class="nav-icon is-responsive-open" src="{{ site.baseurl }}/assets/icons/svg/x.svg">
      </a>
    </li>
  </ul>
</nav>