<!DOCTYPE html>
<html ⚡ lang="en">
{% include head.html %}

<body>
  <div class="page-wrapper">
    <div id="side-nav-container">
      {% include sidenav.html %}
    </div>
    <div id="page-content-container">

      <div id="page-col-one">

        {% include header.html %}
        <!-- contains breadcrumbs.html within -->

        {{ content }}

        {% include copyright.html %}
        <!-- rather than in site-footer -->

      </div>

      <div id="page-col-two">

        {% include col-two.html %}

      </div>

    </div>
  </div>

  {% include footer.html %}
  <!-- currently blank (may get scrapped) -->

  {% include scripts.html %}

</body>


</html>