<!DOCTYPE html>
<html ⚡ lang="en">
{% include head.html %}

<body>
  <div class="page-wrapper">
    <div id="side-nav-container">
      {% include sidenav.html %}
    </div>
    <div id="page-content-container">

      <div id="page-col-one">
      
        {% include header.html %}

        {% include breadcrumbs.html %}

        {{ content }}
      
      </div>

      <div id="page-col-two">

        {% include col-two.html %}

      </div>

    </div>
  </div>

  {% include footer.html %}

  {% include scripts.html %}

</body>


</html>