---
layout: default
---

<article>

  {% include share-page.html %}

  <h2 class="post-title" itemprop="name">
    <a href="{{ site.baseurl }}{{ page.url }}" itemprop="url">{{ page.title }}</a>
  </h2>

  <div class="post-meta">
      <time datetime="{{ page.date | date_to_long_string }}">
        <i class="fas fa-clock"></i>{{ page.date | date_to_long_string }} 
      </time>
      <span>•</span> 
      <span><i class="fas fa-user"></i>{{ page.author }}</span>
      <span>•</span>
      <span class="reading-time"><i class="fas fa-hourglass-half"></i>{% include reading-time.html %}</span>
      <div class="post-tags">
        <ul>
          {% for tag in page.tags %}
          <li class="post-tag"><i class="fas fa-tag"></i>{{ tag | capitalize }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

  <section>
    {{content}}
  </section>

</article>
